/* Merriweather Font  */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* Inter Font */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* Header Banner Text Background Image  */
.banner-container {
  margin: 140px;
}

.header-banner-text {
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)),
    url('../assets/images/Banner Image.png');
  /* Adjust path as needed */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 144px;
  border-radius: 16px;
  text-align: center;
  color: white;
  /* Ensure text is readable */

}

.happy-new-year-title {
  font-size: 32px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #ffffff;
}

.new-year-party-text {
  font-size: 72px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #ffffff;
}



/* Discount Section  */



.inter-font {
  font-family: "Inter", sans-serif;
}


.off-amount {
  color: #FF0000;
  font-size: 88px;
  font-weight: 800;
  text-align: center;

}

.holiday-para {
  color: #FF0000;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.all-category {
  font-size: 48px;
  font-weight: 600;
  text-align: center
}

.happy-new-year-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  /* Optional: makes it responsive */
  height: auto;
}


/* Welcome to Midnight Party Banner  */
.midnight-party-container {
  margin: 140px;

}

.midnight-party-wrapper {
  background-image:
    linear-gradient(to right, #1E0420, rgba(0, 0, 0, 0.5)),
    url('../assets/images/Group\ 70.png'),
    /* Front image */
    url('../assets/images/Leonardo.jpg');
  /* Back image */

  background-position: center left, center right;
  background-repeat: no-repeat;
  background-size: cover, contain;
  border-radius: 16px;
  padding: 144px;
  color: white;

}

.mid-party-title {
  font-size: 64px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #ffffff;
}

.mid-party-para {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #ffffff;
}

.join-now {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #ffffff;
}

/* Address  card  */

.address-container {
  margin: 140px;
}

.address-card {
  background: linear-gradient(to bottom, rgba(255, 0, 0, .1) 0%, rgba(0, 0, 0, 0) 100%);
  padding: 100px 100px;
  border-radius: 16px;

}

.place,
.date,
.time,
.btn-container {
  text-align: center;
  align-items: center;
  font-size: 32px;
  font-weight: 300px;

}

.btn-primary {
  color: #FFFFFF;
  background-color: #FF0000;
  border: none;
  border-radius: 5px;
  padding: 16px 32px 16px 32px;
  cursor: pointer;
  margin: 0px;
}

.place-word,
.date-word,
.time-word {
  color: #FF0000;
}


/* New Best Offer Coming Soon Section */

.new-best-offer-holder {
  display: flex;
  margin: 140px;
  ;
  justify-content: space-between;
  align-items: center;
  gap: 120px;


}

.nbo-middle {
  border: solid #FF0000;
  border-radius: 100%;
  padding: 49px;
  border-width: 15px;
}

.nbo-title {
  font-size: 24px;
  font-weight: 400px;
  color: #FF0000;
  margin: auto;
}

.coming-soon {
  font-size: 48px;
  font-weight: 600px;
  color: black;
  margin: 0px;
}

.year {
  font-size: 48px;
  font-weight: 600px;
  color: #FF0000;
  margin: auto;
}


/* what-is-fn-holder */
.what-is-fn-holder {
  text-align: center;
  margin: 266px;
}

.fn-text {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 300px;
  font-size: 24px;
}

.sale-50 {
  font-family: merriweather;
  font-size: 72px;
  color: black;

}

.holiday {
  color: #FF0000;
}

.fn-para {
  font-family: inter;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 300px;
}


.three-pic-holder {
  margin-top: 500px; /* Adjust as needed */
}

.three-pic {
  position: relative;
  margin: 140px;           /* Center in page */
}

.bg-image {
  display: block;
  width: 100%;             /* Will fill the .three-pic container */
  /* height: auto; */
}

.gift {
  position: absolute;
  top: -350px;             /*  Fixed pixel positioning/* 
  /* left: -10px; */
  /* width: 100px; */
}

.discount {
  position: absolute;
  top: -400px;
  right: 40px;
  /* width: 60px; */
}